:root {
  /* Colors */

  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--cream);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 1.75rem auto 1.75rem auto;
  background-color: var(--white);
  border-radius: 1rem;
}

.card__img {
  width: 100%;
  height: 36vh;
  background-image: url("../images/image-product-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.6rem 0.6rem 0 0;
}

.card__perfum {
  align-self: flex-start;
  font-size: 0.75rem;
  font-family: var(--montserrat);
  color: var(--dark-grayish-blue);
  margin: 1.4rem 0 0.2rem 1.7rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.card__section {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 1.95rem;
  font-family: var(--fraunces);
  color: var(--very-dark-blue);
  margin: 0.7rem 1.7rem 0 1.7rem;
  line-height: 1.05;
}

.card__paragraph {
  margin: 0.85rem 1.6rem 0 1.8rem;
  color: var(--dark-grayish-blue);
  line-height: 1.43;
  font-size: 1.07rem;
}

.card__price--real {
  margin: 1rem 1.25rem 0 1.4rem;
  color: var(--dark-cyan);
  font-size: 1.6rem;
  font-family: var(--fraunces);
}

.card__price--offer {
  align-self: center;
  font-size: 0.83rem;
  font-family: var(--montserrat);
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  position: relative;
  bottom: 36px;
  right: 4px;
}

.card__button {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-size: 0.9rem;
  font-family: var(--montserrat);
  font-weight: 700;
  border-style: none;
  border-radius: 0.5rem;
  width: 85%;
  height: 3.2rem;
  margin: 0 auto 0.2rem auto;
  position: relative;
  bottom: 25px;
}

.icon-cart {
  position: relative;
  right: 8px;
}

@media (min-width: 992px) {
  .card {
    flex-direction: row;
    margin: 12rem auto;
    width: 43%;
    height: 45.2vh;
    border-radius: 0.6rem;
  }

  .card__img {
    width: 63vw;
    height: auto;
    background-image: url("../images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.6rem 0 0 0.6rem;
  }

  .card__perfum {
    font-size: 0.67rem;
    letter-spacing: 0.28rem;
    margin: 1.8rem 0 0.5rem 1.8rem;
  }

  .card__title {
    margin-top: 1.2rem;
    margin: 0.7rem 3rem 0 1.8rem;
    line-height: 1;
  }

  .card__paragraph {
    font-size: 0.9rem;
    margin: 1.3rem 3rem 0.4rem 1.75rem;
    line-height: 1.5;
  }

  .card__price--real {
    margin: 1rem 1.25rem 0 1.75rem;
  }

  .card__price--offer {
    font-size: 0.75rem;
    bottom: 35px;
    left: 33px;
  }

  .card__button {
    width: 77%;
    height: 2.7rem;
    margin: 1rem auto 0 auto;
    font-weight: 500;
    border-radius: 0.45rem;
    font-size: 0.8rem;
    line-height: 2;
  }

  .icon-cart {
    width: 13px;
    height: 14px;
    top: 2px;
    right: 6px;
  }
}
