:root {
  /* Colors */

  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --fraunces: "Fraunces", serif;
  --montserrat: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--cream);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1.75rem auto 1.75rem auto;
  background-color: var(--white);
  border-radius: 1rem;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.figure__img {
  border-radius: 0.6rem 0.6rem 0 0;
  width: 100%;
}

.figure__description {
  align-self: flex-start;
  font-size: 0.85rem;
  font-family: var(--montserrat);
  color: var(--dark-grayish-blue);
  margin: 1.2rem 0 0 1.2rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}
